*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}

img{
    opacity: 0.5;
    width: 600px;
    margin-left: -300px;
    margin-top: -300px; 
    z-index: -1;

    position: absolute;
    left: 0;
    top: 0;
}

h1{
    text-align: center;
    font-weight: bold;
}

h2{
    text-align: center;
    color: grey;
    padding-top: 10px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;

}

.container-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 5px;

    border: 1px solid lightgrey;
    border-radius: 5px;
    border-top: 4px solid pink;

    background-color: #ffffff;
    text-align: center;
    z-index: 2;
    word-wrap: break-word;
}


footer{
    font-size: 10px;
    color: grey;
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
}
footer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
}
footer ul li{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid grey;
}
footer ul li:first-child, footer ul li:last-child{
    border: none;
    padding-right: 0;
}


@media only screen and (max-width: 700px){

}

